.social-icons {
  padding: 40px;
}

.social-icon-group {
  display: inline-block;
  margin: 0 15px;
}

.social-icon-group a {
  text-decoration: none;
  color: grey;
}

.social-icon-group a:hover {
  color: black;
}